<!Doctype html>
<html>
<head>
   <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>Registration/Login form</title>
  <style>
    .error{
      color:red;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" id="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/books">Book Reviews</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/users/logoff">Logoff</a></li>
            </ul>
            <a class="navbar-brand navbar-right" href="/users/{{session['userId']}}">{{ session['first_name'] }} {{ session['last_name'] }}</a>
        </div>
    </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <form role="form" action="/users/{{user_detail['id']}}" method='post'>
          <h2>Update Your Details Here</h2>
          <hr class="colorgraph">
           <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                  <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1" value ="{{user_detail['first_name']}}">
            </div>
                {%with errors = get_flashed_messages(category_filter=["firstNameError"]) %}
                        {% if errors %}
                            {% for error in errors %}
                                <p class="error">{{error}}</p>
                            {%endfor%}
                        {%endif%}
                {%endwith%}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
               <input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2" value ="{{user_detail['last_name']}}">
             </div>
             {%with errors = get_flashed_messages(category_filter=["lastNameError"]) %}
                        {% if errors %}
                            {% for error in errors %}
                                <p class="error">{{error}}</p>
                            {%endfor%}
                        {%endif%}
             {%endwith%}
           </div>
         </div>
         <div class="form-group">
           <input type="alias" name="alias" id="alias" class="form-control input-lg" placeholder="Alias" tabindex="4" value ="{{user_detail['alias']}}">
         </div>
                {%with errors = get_flashed_messages(category_filter=["aliasError"]) %}
                        {% if errors %}
                            {% for error in errors %}
                                <p class="error">{{error}}</p>
                            {%endfor%}
                        {%endif%}
                {%endwith%}
         <div class="form-group">
          <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4" value ="{{user_detail['email']}}">
        </div>
        {%with errors = get_flashed_messages(category_filter=["emailError"]) %}
                        {% if errors %}
                            {% for error in errors %}
                                <p class="error">{{error}}</p>
                            {%endfor%}
                        {%endif%}
                {%endwith%}
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
             <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5" value ="">
           </div>
           {%with errors = get_flashed_messages(category_filter=["passwordError"]) %}
                        {% if errors %}
                            {% for error in errors %}
                                <p class="error">{{error}}</p>
                            {%endfor%}
                        {%endif%}
                {%endwith%}
         </div>
         <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <input type="password" name="confirm_password" id="confirm_password" class="form-control input-lg" placeholder="Confirm Password" tabindex="6" value ="">
          </div>
          {%with errors = get_flashed_messages(category_filter=["confirmPasswordError"]) %}
                        {% if errors %}
                            {% for error in errors %}
                                <p class="error">{{error}}</p>
                            {%endfor%}
                        {%endif%}
                {%endwith%}
        </div>
      </div>

      <hr class="colorgraph">
      <div class="row">
        <div class="col-xs-12 col-md-6"><input type="submit" value="Update" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
      </div>
    </form>
  </div>
</div>

</div>
</body>