<html>
<head>
	<title>Delete a review</title>
	
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>Are you sure you want to delete this Review?</h1>
	
	<p>Description: {{ review['content'] }}</p>

	<a href="/books/{{review['book_id']}}"> Back </a>

	<form action="/books/{{ review['id'] }}" method="post">
		<input type="submit" class="btn btn-danger" value="Delete">
	</form>
</body>
</html>